<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>WebZero.events</title>
</head>
<body>
    <%- include('partials/navbar.ejs') %>


<div class="hero min-h-screen" style="background-image: url(https://static.wixstatic.com/media/b432cc_b21bed6e720f42dcbffbb38d42ae6eb8~mv2.jpg/v1/fill/w_1526,h_1028,fp_0.50_0.50,q_85,enc_auto/about%20us%20banner_smol.jpg);">

  <div class="hero-overlay bg-opacity-60"></div>
  <div class="flex-col hero-content text-center text-neutral-content">
    <div class="divider divider-success">COMMUNITY EVENT</div>

    <%- include('partials/card.ejs') %>
    <%- include('partials/timer.ejs') %>

    <div class="divider divider-success">COMMUNITY AUCTION</div>

    <%- include('partials/card2.ejs') %>
    <%- include('partials/timer.ejs') %>
    <div class="divider divider-success">COMMUNITY EVENT</div>

    <%- include('partials/card3.ejs') %>
    <!-- <%- include('partials/timer.ejs') %> -->

    <div class="grid grid-flow-col gap-5 text-center auto-cols-max">
      <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">
        <span class="countdown font-mono text-5xl">
          EVENT EXPIRED

        </span>
      </div> 
    
  </div>


</div>
<!-- <script src="timer.js"></script> -->
<script>
  document.addEventListener('DOMContentLoaded', () => {

const daysElement = document.querySelector('.countdown .days');
const hoursElement = document.querySelector('.countdown .hours');
const minutesElement = document.querySelector('.countdown .minutes');
const secondsElement = document.querySelector('.countdown .seconds');

let days = parseInt(daysElement.style.getPropertyValue('--value'));
let hours = parseInt(hoursElement.style.getPropertyValue('--value'));
let minutes = parseInt(minutesElement.style.getPropertyValue('--value'));
let seconds = parseInt(secondsElement.style.getPropertyValue('--value'));

setInterval(() => {
if (seconds > 0) {
  seconds--;
} else {
  seconds = 59;

  if (minutes > 0) {
    minutes--;
  } else {
    minutes = 59;

    if (hours > 0) {
      hours--;
    } else {
      hours = 23;

      if (days > 0) {
        days--;
      } else {
        days = 0;
      }
    }
  }
}

daysElement.style.setProperty('--value', days);
hoursElement.style.setProperty('--value', hours);
minutesElement.style.setProperty('--value', minutes);
secondsElement.style.setProperty('--value', seconds);
}, 1000);



});
</script>
</body>
</html>